<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="github" value="https://nuget.pkg.github.com/jacksonveroneze/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="jacksonveroneze" />
      <add key="ClearTextPassword" value="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" />
    </github>
  </packageSourceCredentials>
</configuration>